.headertp {
  height: 25px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  z-index: 100%;
  -webkit-box-shadow: 1px 10px 5px 0px rgba(155, 155, 155, 1);
  -moz-box-shadow: 1px 10px 5px 0px rgba(155, 155, 155, 1);
  box-shadow: 1px 5px 5px 0px rgba(155, 155, 155, 1);
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #9b9b9b;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}
.media {
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 1px;
  padding-bottom: 0px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  -webkit-box-shadow: 1px 10px 5px 0px rgba(155, 155, 155, 1);
  -moz-box-shadow: 1px 10px 5px 0px rgba(155, 155, 155, 1);
  box-shadow: 1px 10px 5px 0px rgba(155, 155, 155, 1);
}
.Latest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards {
  text-decoration: none;
  color: black;
}
.det {
  display: flex;
  padding: 15px;
}

.poster {
  border-radius: 10px 10px 0 0;
}
.two-line-container {
  display: -webkit-box;
  font-size: 12px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.card-content {
  padding: 5px;
}
